@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c2c4d2;
  --foreground: #111d3d;
  --primary: #111d3d;
  --secondary: #8f9ec7;
  --light: #c2c4d2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c2c4d2;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  width: 100%;
  max-width: 1080px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
